/* roboto font */
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: italic;
  font-weight: 100;
  src: url("/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Roboto/Roboto-Italic.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Roboto/Roboto-Black.ttf") format("truetype");
  font-family: "Roboto";
}

@font-face {
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  font-family: "Roboto";
}

/* roboto slab font */
@font-face {
  font-style: normal;
  font-weight: 400 500 600 700 900;
  src: url("/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Roboto slab";
}

/* questrial font */
@font-face {
  font-style: normal;
  font-weight: 400 500 600 700 900;
  src: url("/fonts/Questrial/Questrial-Regular.ttf") format("truetype");
  font-family: "Questrial";
}

/* playfair font */
@font-face {
  font-style: normal;
  font-weight: 400 500 600 700 900;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Playfair Display";
}

@font-face {
  font-style: italic;
  font-weight: 400 500 600 700 900;
  src: url("/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Playfair Display";
}

/* lora font */
@font-face {
  font-style: normal;
  font-weight: 400 500 600 700 900;
  src: url("/fonts/Lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-family: "Lora";
}

@font-face {
  font-style: italic;
  font-weight: 400 500 600 700 900;
  src: url("/fonts/Playfair_Display/Lora-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Lora";
}
